<p id="notice"><%= notice %></p>

<h1>Listing About Us</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_us.each do |about_u| %>
      <tr>
        <td><%= link_to 'Show', about_u %></td>
        <td><%= link_to 'Edit', edit_about_u_path(about_u) %></td>
        <td><%= link_to 'Destroy', about_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About u', new_about_u_path %>
