<!DOCTYPE html>


<html>

<head>
  <title>Subwaz</title>
  <%= csrf_meta_tags %>

   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEDBGSYZACJSTFx3EBAUpi7Ni90VWA5hM">
    </script>
</head>



<body>

<div id="map-canvas"></div>

  <div class="header">
    <h1>Subwaz</h1>
  </div>
  
  <div class="station-img">
    <div class="sixth-train-link">6</div>
    <div class="direction">
      <span class="tag" style="display:none;">
        data2 <%= @data2.inspect %>
        <%= link_to 'Uptown', station_path %> | <%= link_to 'Downtown', station_path %>
      </span>
    </div>
    <!-- a href="#"><%= image_tag "circular108.png" %></a -->
  </div>
  



</html>


