<!DOCTYPE html>
<html>
<head>
  <title>Station Page</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Station Page - # train - Direction</h1>
  <%= yield %>
  <p>Currently stations from this page is static. All station should pull from db dynamically.</p>

  <table class="direction">
    <tr>
      <td><%= link_to '28 St', poll_path %></td>
    </tr>
    <tr>
      <td><%= link_to '23 St', poll_path %></td>
    </tr>
    <tr>
      <td><%= link_to '18 St', poll_path %></td>
    </tr>
    <tr>
      <td><%= link_to '14 St', poll_path %></td>
    </tr>
  </table>

</body>
</html>
